{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Add Blog</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt" style="background-color: #0e5e9d">
				<div class="logo"><a href="{% url 'index' %}">Blogs  <span>by ADITYA</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu" style="background-color: #0e5e9d;">
				<ul class="links">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'login_request' %}">Add Blog</a></li>
					<li><a href="{% url 'register' %}">Register your account</a></li>
				</ul>
			</nav>

			  <br>
			  <br>
              <div class="card" style="width: 73rem; margin-left: 9%; margin-right: 10%; margin-top: 2%; background-color: #0e5e9d;">
				<img src="{{user.image.url}}" width="1000" height="500" class="card-img-top" alt="{% static 'img/no_image.png' %}">
				<div class="card-body">
				  <p class="card-text"><b style="color: white;"><font size="+4">{{user.brief}}</font></b></p>
				</div>
			  </div>
			  <br><br><br><br><br>
		<!-- Footer -->
		<footer id="footer" style="background-color: #0e5e9d;">
			<div class="inner">

			
				<div class="copyright">
					&copy; Copyrights reserved : Aditya Aggarwal
				</div>

			</div>
		</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>