{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Register your account</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header" class="alt" style="background-color: #0e5e9d">
				<div class="logo"><a href="{% url 'index' %}">Blogs  <span>by ADITYA</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu" style="background-color: #0e5e9d;">
				<ul class="links">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'login_request' %}">Add Blog</a></li>
					<li><a href="{% url 'register' %}">Register your account</a></li>
				</ul>
			</nav>
			<br><br>
			{% if wrong_email %}
			<marquee>This email is already registered</marquee>
			{% endif %}
			{% if wrong_username %}
			<marquee>Try different Username</marquee>
			{% endif %}
			{% if wrong_password %}
			<marquee>Password does not matched</marquee>
			{% endif %}

			<div id="login">
				<h3 class="text-center text-white pt-5">Registration form</h3>
				<div class="container">
					<div id="login-row" class="row justify-content-center align-items-center">
						<div id="login-column" class="col-md-6">
							<div id="login-box" class="col-md-12">
								<form id="login-form" class="form" action="{% url 'check_user' %}" method="post">
									{% csrf_token %}
									<h3 class="text-center text-info">User register here to login</h3>
									<br>
									<div class="form-group">
										<label for="first_name" class="text-info">First Name:</label><br>
										<input type="text" name="first_name" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="last_name" class="text-info">Last Name:</label><br>
										<input type="text" name="last_name" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="username" class="text-info">Username:</label><br>
										<input type="text" name="username" id="username" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="email" class="text-info">Email:</label><br>
										<input type="email" name="email" id="email" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="password1" class="text-info">Password:</label><br>
										<input type="password" name="password1" id="password" class="form-control" required>
									</div>
									<div class="form-group">
										<label for="password2" class="text-info">Confirm Password:</label><br>
										<input type="password" name="password2" id="password" class="form-control" required>
									</div>
									<div class="form-group">
										<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


		<!-- Footer -->
		<footer id="footer" style="background-color: #0e5e9d;">
			<div class="inner">

				
				<div class="copyright">
					&copy; Copyrights reserved : Aditya Aggarwal
				</div>

			</div>
		</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>